body {
            font-family: Arial, sans-serif;
            background: #f0f2f5;
            margin: 170px;
            padding: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1 {
            color: #000000;
            margin-bottom: 35px;
            text-align: center;
            
        }
        .buttons{
            gap : 20px;
            display: flex;
            justify-content: center;
            color: #555;
            margin-bottom: 45px;
        }
        button{
            font-size: 17px;
            padding: 10px 20px;
            color: #555;
        }
        button:hover {
            color: #000;
        }
        .votes p {
            margin: 10px 0;
            font-size: 18px;
        } 