body {
    background-color: #fc0404;
    font-family: Arial, sans-serif;
    margin: 180px;
    padding: 70px;
}

h1 {
    color: #000;
    margin-bottom: 35px;
    text-align: center;
}

.weather-info {
    margin-bottom: 20px;
    text-align: center;
}

.weather-info input {
    font-size: 15px;
    height: 35px;
    color: #333;
}

.get-weather {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.get-weather button {
    font-size: 15px;
    padding: 5px 10px;
    color: #555;
}

.get-weather button:hover {
    color: #000;
}

.weather-result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #000;
}